---
- name: Include actions
  ansible.builtin.include_tasks: '{{ playbook_dir }}/actions/{{ action_name }}.yml'
  loop:
    - install_packages
    - install_flatpaks
    - symlink_files_data
    - copy_files_data
  loop_control:
    loop_var: action_name
