---
- name: Setup temporary test environment
  block:
    - name: Setup environment
      ansible.builtin.include_tasks: '{{ role_path }}/tasks/setup.yml'

    - name: Include actions
      ansible.builtin.include_tasks: '{{ playbook_dir }}/actions/{{ action_name }}.yml'
      loop:
        - install_packages
        - install_flatpaks
        - symlink_files_data
        - copy_files_data
        - manage_services
      loop_control:
        loop_var: action_name

    - name: Start test
      ansible.builtin.include_tasks: '{{ role_path }}/tasks/test.yml'

  always:
    - name: Start cleanup
      ansible.builtin.include_tasks: '{{ role_path }}/tasks/cleanup.yml'
